@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root {
    --primary-color: #020817;
    --text-color: #edebeb;
    --input-background: #ffffff93;
    --primary-btn: #1d4ed8;
    --secondary-color: #0f172a;
}

body {
    font-family: "Poppins", sans-serif;
    background-color: var(--primary-color);
    color: var(--text-color);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100vh;
    width: 100vw;
    gap: 4rem;
}

h1 {
    text-align: center;
    color: var(--text-color);
}

.form-container {
    background-color: var(--secondary-color);
    height: 400px;
    width: 350px;
    border-radius: 8px;
    box-shadow: 2px 1px 13px #514e4e;
    /* position: absolute; */
}

.form-container form {
    display: flex;
    justify-content: center;
    height: 100%;
    width: 100%;
    flex-direction: column;
    padding: 17px;
    gap: 1rem;
}

.form-container form input {
    padding: 8px 12px;
    border-radius: 8px;
    outline: none;
    border: none;
    background-color: var(--input-background);
}

.form-container form button {
    padding: 12px;
    background-color: var(--primary-btn);
    color: var(--text-color);
    border: none;
    border-radius: 5px;

    &:hover {
        opacity: 0.8;
        cursor: pointer;
    }
}

#result {
    display: none;
    text-align: center;
    position: relative;
    bottom: 65px;
    background: var(--input-background);
    margin: 0 40px;
    border-radius: 8px;
    font-size: 15px;
}


footer {
    background-color: var(--secondary-color);
    position: relative;
    border-radius: 8px;
    padding: 10px;
    font-weight: lighter;

}

footer p {
    text-align: center;
}

@media (max-width:430px) {
    .form-container {
        height: 380px;
        width: 280px;
    }

    .form-container form button {
        padding: 14px 8px;
    }

    #result {
        margin: 10px 18px;
        padding: 0 1px;
        font-size: 14px;
    }

    footer {
        border-radius: 8px;
        top: 0.5rem;
        font-size: 10px;
        font-weight: lighter;
        width: 80%;
    }
}